@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html{
	margin: 0;
overflow: scroll;
overflow-x: hidden !important;
	font-size: 18px;
background-color: #3f4d4e;
  font-family: "RobotoRegular", sans-serif;
}
 .block1{ 
    width: 400px; 
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
    text-align: center;
   }